.content-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.quiz-question {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px;
    padding: 15px;
    background-color: rgba(30, 144, 255, 0.7);
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}

#q4Choices, #q5Choices {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#results-area {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    
}

footer {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
}

footer img {
    margin: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}


body {
    background: url('../img/background.png');
    background-size: cover repeat;
}