header, nav, footer {
    text-align: center;
}

nav a{
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

body {
    background-color: black;
    color: gray
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main figure {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: rgb(17, 54, 134)
}